.deps
.libs/
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
autom4te.cache/
benchmark.lo
build/
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
controller.lo
install-sh
libtool
ltmain.sh
microhouse.la
microhouse.lo
missing
mkinstalldirs
modules/
run-tests.php
tmp-php.ini
